{%- if template_type == "home" %}
{%- set repo_name = home_repo_name %}
{%- elif template_type == "lib" %}
{%- set repo_name = lib_repo_name %}
{%- elif template_type == "app" %}
{%- set repo_name = app_repo_name %}
{%- endif -%}

<p>
  <picture>
    <!-- light mode logo -->
    <source media='(prefers-color-scheme: light)' srcset='https://raw.githubusercontent.com/easyscience/assets-branding/refs/heads/master/{{ project_name | lower }}/logos/light.svg'>
    <!-- dark mode logo -->
    <source media='(prefers-color-scheme: dark)' srcset='https://raw.githubusercontent.com/easyscience/assets-branding/refs/heads/master/{{ project_name | lower }}/logos/dark.svg'>
    <!-- default logo == light mode logo -->
    <img src='https://raw.githubusercontent.com/easyscience/assets-branding/refs/heads/master/{{ project_name | lower }}/logos/light.svg' alt='{{ project_name }}'>
  </picture>
</p>

**{{ project_name }}** is {{ project_extended_description[:1] | lower ~ project_extended_description[1:] }}.

<!-- HOME REPOSITORY SECTION -->
{%- if template_type == "home"  %}

This repository serves as the central hub for the **{{ project_name }}** family.

**{{ project_name }}** is developed as:

{% if project_type == "both" or project_type == "lib" %}
- 📦 Python library - repository [`{{ lib_repo_name }}`](https://github.com/easyscience/{{ lib_repo_name }})
{% endif %}

{% if project_type == "both" or project_type == "app" %}
- 🖥 Desktop application - repository [`{{ app_repo_name }}`](https://github.com/easyscience/{{ app_repo_name }})
{% endif %}

### Useful Links:

- 💡[Discussions](https://github.com/easyscience/{{ home_repo_name }}) - the main
  discussion forum for the whole {{ project_name }} project.

<!-- NON-HOME REPOSITORY SECTION -->
{% else %}

{% if project_type == "both" %}
**{{ project_name }}** is developed both as a Python library and as a
cross-platform desktop application.

{% if template_type == "lib" %}
Here, we focus on the Python library. For the graphical user interface
(GUI), please see the corresponding [GUI resources](https://github.com/easyscience/{{ app_repo_name }}).

{% elif template_type == "app" %}
Here, we focus on the graphical user interface (GUI). For the Python
library, please see the corresponding [library resources](https://github.com/easyscience/{{ app_repo_name }}).

{% endif %}

{% elif project_type == "lib" %}
**{{ project_name }}** is developed as a Python library.

{% elif project_type == "app" %}
**{{ project_name }}** is developed as a cross-platform Qt QML desktop application.

{% endif %}

License: [BSD 3-Clause](https://github.com/easyscience/{{ repo_name }}/blob/master/LICENSE)

## Useful Links

### For Users

- 📖 [Documentation](https://easyscience.github.io/{{ repo_name }}/latest)
- 🚀 [Getting Started](https://easyscience.github.io/{{ repo_name }}/latest/introduction)
- 🧪 [Tutorials](https://easyscience.github.io/{{ repo_name }}/latest/tutorials)
- 💬 [Get in Touch](https://easyscience.github.io/{{ repo_name }}/latest/introduction/#get-in-touch)
- 🧾 [Citation](https://easyscience.github.io/{{ repo_name }}/latest/introduction/#citation)

### For Contributors

- 🧑‍💻 [Source Code](https://github.com/easyscience/{{ repo_name }})
- 🐞 [Issue Tracker](https://github.com/easyscience/{{ repo_name }}/issues)
- 💡 [Discussions](https://github.com/easyscience/{{ repo_name }}/discussions)
- 🤝 [Contributing Guide](https://github.com/easyscience/{{ repo_name }}/blob/master/CONTRIBUTING.md)
- 🛡 [Code of Conduct](https://github.com/easyscience/.github/blob/master/CODE_OF_CONDUCT.md)

{% endif %}
