pragma Singleton

import QtQuick

QtObject {

    readonly property var about: {
        'name': '{{ project_name }}',
        'namePrefix': 'Easy',
        'nameSuffix': '{{ project_name | replace("Easy", "") }}',
        'namePrefixForLogo': 'easy',
        'nameSuffixForLogo': '{{ project_name | replace("Easy", "") | lower }}',
        'homePageUrl': 'https://github.com/easyscience/{{ project_repo_name }}',
        'issuesUrl': 'https://github.com/easyscience/{{ project_repo_name }}/issues',
        'licenseUrl': 'https://github.com/easyscience/{{ project_repo_name }}/LICENCE',
        'dependenciesUrl': 'https://github.com/easyscience/{{ project_repo_name }}/DEPENDENCIES.md',
        'version': '0.1.0',
        'icon': Qt.resolvedUrl('../Resources/Logos/App.png'),
        'date': new Date().toISOString().slice(0,10),
        'developerYearsFrom': '{{ project_copyright_years.split("-")[0] }}',
        'developerYearsTo': '{{ project_copyright_years.split("-")[-1] }}',
        'description': '**{{ project_name }}** is a scientific software {{ project_extended_description[:1] | lower ~ project_extended_description[1:] }}',
        'developerIcons': [
            {
                'url': 'https://ess.eu',
                'icon': Qt.resolvedUrl('../Resources/Logos/ESS.png'),
                'heightScale': 3.0
            }
        ]
    }

}

